{% extends "weblog/base.html" %}
{% block search %}
    <form class="form-inline" method="GET" action="/search/">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" name="kev-search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock search %}
{% block content %}
    <h1>KEV Catalog</h1>
    <form action="/refresh/">
        <button class="refresh" type="submit">Refresh</button>
    </form>
{% endblock content %}